#cargado
.row.cero-margin
  .col-md-2
    #sidebar.well.text-center
      #hola
      %h3
        Time
        %input{ class: "form-control" , :name => "utf8", :type => "", :value => "✓"}
      %h3.form-group
        Velocidad
        %input{ class: "form-control" , :name => "utf8", :type => "", :value => "✓"}
      #vehicles
      .btn.btn-warning
        clear
  .col-md-10
    #map
