/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require 'L.Control.Sidebar'
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-image: url("gps-mejorado.jpg");

}

.login{
	color: rgba(0, 0, 0, 0.71);
}

.margin-sesion{
	margin-top: 40px;
	background-color:rgba(114, 151, 162, 0.69);
}
.nav-opacity{
	opacity: 0.70;
}
.user-name{
	margin-left: 450px;
    margin-top: 12px;
    color: rgba(63, 81, 181, 0.87);
    letter-spacing: -2px;
}
.logo{
	letter-spacing: -3px;
    font-size: 24px;
}
#map {
    border-radius: 10px;
    border: 8px solid gray;
    margin-bottom: 20px;
    position: absolute;
    top: -10px;
    bottom: 0;
    padding-right: 1050px;
    padding-bottom: 500px;
 }
.cero-margin{
	margin-left: 0;
	margin-right: 0;
}
#sidebar{
	color: white;
	border: 8px solid gray;
    margin-right: -40px;
    padding-bottom: 192px;
    margin-top: -10px;
    background-color: rgba(233, 30, 99, 0.61);
}
.item {
    border:1px, solid;
    padding:2px;
    margin:2px;
    background-color:rgba(100, 100, 255, 0.5);
}
.active {
    background-color:rgba(100, 100, 255, 0.9);
}
